<p id="notice"><%= notice %></p>

<p>
  <strong>Alcohol:</strong>
  <%= @drink.alcohol %>
</p>

<p>
  <strong>Mixer:</strong>
  <%= @drink.mixer %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @drink.finish %>
</p>

<p>
  <strong>Over ice:</strong>
  <%= @drink.over_ice %>
</p>

<p>
  <strong>Top shelf:</strong>
  <%= @drink.top_shelf %>
</p>

<p>
  <strong>Price:</strong>
  <%= @drink.price %>
</p>

<%= link_to 'Back', drinks_path %>